C# Assignment/ConsoleApp1/.vs/
C# Assignment/ConsoleApp1/assign12/obj/
C# Assignment/ConsoleApp1/assign13/bin/
C# Assignment/ConsoleApp1/assign13/obj/
C# Assignment/ConsoleApp1/assign14/bin/
C# Assignment/ConsoleApp1/assign14/obj/
C# Assignment/ConsoleApp1/assign15/bin/
C# Assignment/ConsoleApp1/assign15/obj/
C# Assignment/ConsoleApp1/assign16/bin/
C# Assignment/ConsoleApp1/assign16/obj/
C# Assignment/ConsoleApp1/assign17/bin/
C# Assignment/ConsoleApp1/assign17/obj/
C# Assignment/ConsoleApp1/assign18/obj/
C# Assignment/ConsoleApp1/assign2/bin/
C# Assignment/ConsoleApp1/assign2/obj/
C# Assignment/ConsoleApp1/assign21/bin/Debug/net8.0/assign21.dll
C# Assignment/ConsoleApp1/assign21/bin/
C# Assignment/ConsoleApp1/assign21/obj/
C# Assignment/ConsoleApp1/assign4/bin/
C# Assignment/ConsoleApp1/assign4/obj/
C# Assignment/ConsoleApp1/assign5/bin/
C# Assignment/ConsoleApp1/assign5/obj/
C# Assignment/ConsoleApp1/assign6/bin/
C# Assignment/ConsoleApp1/assign6/obj/
C# Assignment/ConsoleApp1/assign7/obj/
C# Assignment/ConsoleApp1/assign7/bin/
C# Assignment/ConsoleApp1/assign8/bin/
C# Assignment/ConsoleApp1/assign8/obj/
C# Assignment/ConsoleApp1/assign9/bin/
C# Assignment/ConsoleApp1/assign9/obj/
C# Assignment/ConsoleApp1/assignment3/obj/
C# Assignment/ConsoleApp1/ConsoleApp1/bin/
C# Assignment/ConsoleApp1/ConsoleApp1/obj/
C# Assignment/ConsoleApp1/assign11/bin/
C# Assignment/ConsoleApp1/assign11/obj/
C# Assignment/ConsoleApp1/assign12/bin/
C# Assignment/ConsoleApp1/assign10/obj/
C# Assignment/ConsoleApp1/assign10/bin/
